* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[data-bs-theme="dark"] {
    --bg-card-color: #dee2e6;
    --bg-card-background-color: #333844;
    --bg-card-color-active: black;
    --bg-card-background-color-active: #ffffff;

}

[data-bs-theme="light"] {
    --bg-card-color: black;
    --bg-card-background-color: #fff;
    --bg-card-color-active: black;
    --bg-card-background-color-active: #39323214;

}


.custom-link-black {
    color: black; 
    font-weight: 600;
    text-decoration: none;
}

.custom-link-black:hover{
    text-decoration: underline; 
    text-decoration-color: black;
}

.bg-overlay{
    background-color: black;
    border-radius: 20px 0px 0px 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.logo{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

/* Para navegadores WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 5px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-thumb {
    background: #555555; /* Cinza escuro */
    border-radius: 10px; /* Bordas arredondadas */
}

::-webkit-scrollbar-thumb:hover {
    background: #333333; /* Cinza charcoal ao passar o mouse */
}

::-webkit-scrollbar-track {
    background: #1a1a1a; /* Fundo da trilha, um cinza muito escuro */
}

.cursor-pointer{
    cursor: pointer;
}

.divVerification{
    line-height: 3rem;
    font-size: 1.25rem;
    background-color: transparent;
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.87);
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.15);
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;
    outline: rgb(0, 0, 0);
}

.cardBoxVerification{
    min-width: 3.5rem; 
    min-height: 3.5rem; 
    padding: 0rem
}

.active-box-validate{
    border: 2px solid black;
}

.link-outline-black{
    cursor: pointer;
    display: inline;
    color: rgb(0, 0, 0);
    text-decoration-line: underline;
}

.border-radius{
    border-radius: 5rem;
}

.border-radius-card{
    border-radius: 20px !important;
}

.navbar-custom{
    width: 80vw;
    margin: auto;
    padding: .5rem !important;
}

.nav-link{
    border-radius: 2rem;
    cursor: pointer;
}

.nav-link:hover{
    color: var(--bg-card-color-active);
    background-color: var(--bg-card-background-color-active);
    border-radius: 2rem;
}
    

.btn-no-border:active{
    border: none !important;
}

.btn-no-border{
    border: none !important;
}

.navbar-custom{
    color: var(--bg-card-color);
    background-color: var(--bg-card-background-color);
}

.navbar-custom .active{
    color: var(--bg-card-color-active);
    background-color: var(--bg-card-background-color-active);
    border-radius: 2rem;
    padding: 0px 10px 0px 10px;
}

.navbar-custom .active a{
    color: var(--bg-card-color-active);
}

.card{
    background-color: var(--bg-card-background-color)!important;
}